<div class="container">
  <mat-card class="welcome-card">
    <h1 class="welcome-title">Welcome to myFlix!</h1>
    <mat-card-actions class="welcome-card-actions">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px"
        color="accent"
      >
        Sign Up
      </button>
      <button
        mat-raised-button
        (click)="openLoginDialog()"
        style="margin-right: 10px"
        color="accent"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
