$primary: white;
$secondary: #fc2983;
$basic: black;
$main: purple;

.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-card {
  max-width: 18rem;
  margin: 3rem;
  background-color: $basic;
  box-shadow: 0 0 20px 1px $primary;
}

.movie-card-header {
  height: 70px;
}

.mat-icon-button,
.mat-button,
.movie-card-subtitle {
  color: $secondary;
}

.movie-card-title {
  color: $primary;
  font-weight: bold;
  margin-bottom: 10px;
}
