<div class="container">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header class="movie-card-header">
      <mat-card-title class="movie-card-title">{{
        movie.Title
      }}</mat-card-title>

      <mat-card-subtitle class="movie-card-subtitle"
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button
        class="mat-button"
        mat-button
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>
      <button
        class="mat-button"
        mat-button
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio)"
      >
        Director
      </button>
      <button
        class="mat-button"
        mat-button
        (click)="openDescriptionDialog(movie.Description, movie.Title)"
      >
        Description
      </button>
      <button
        class="mat-icon-button"
        mat-icon-button
        *ngIf="!isFavorite(movie._id)"
        (click)="addFavorites(movie._id)"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button
        class="mat-icon-button"
        mat-icon-button
        *ngIf="isFavorite(movie._id)"
        (click)="removeFavorites(movie._id)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
